.banner-1 {
  background-image: url("../img/banner1.png");
}

.banner-2 {
  background-image: url("../img/banner2.png");
}

.banner-3 {
  background-image: url("../img/banner3.png");
}

.item-1 {
  background-image: url("../img/item1.png");
}

.item-2 {
  background-image: url("../img/item2.png");
}

.item-3 {
  background-image: url("../img/item3.png");
}

.item-4 {
  background-image: url("../img/item4.png");
}

.item-5 {
  background-image: url("../img/item5.png");
}

.item-6 {
  background-image: url("../img/item6.png");
}

.slide-2-bg {
  background-image: url("../img/saleimg.png");
}

.brands {
  background-image: url("../img/brand.png");
}

.blog-1 {
  background-image: url("../img/blog1.png");
}

.blog-2 {
  background-image: url("../img/blog2.png");
}

.feed-1 {
  background-image: url("../img/instagram1.png");
}

.feed-2 {
  background-image: url("../img/instagram2.png");
}

.feed-3 {
  background-image: url("../img/instagram3.png");
}

.feed-4 {
  background-image: url("../img/instagram4.png");
}

.feed-5 {
  background-image: url("../img/instagram5.png");
}

.feed-6 {
  background-image: url("../img/instagram6.png");
}

.fb {
  background-image: url("../img/facebook.svg");
}

.google {
  background-image: url("../img/google.svg");
}

.twitter {
  background-image: url("../img/twitter.svg");
}

.pinterest {
  background-image: url("../img/pinterest.svg");
}

.dribble {
  background-image: url("../img/dribble.svg");
}

.visa {
  background-image: url("../img/visa.png");
}

.discover {
  background-image: url("../img/discover.png");
}

.express {
  background-image: url("../img/americanexpress.png");
}

.paypal {
  background-image: url("../img/paypal.png");
}

.mastercard {
  background-image: url("../img/mastercard.png");
}

.western {
  background-image: url("../img/westernunion.png");
}
